@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
  color: #001931;
}
.text-color {
  background: linear-gradient(to bottom right, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-secondary{
  color: #627382;
}
.bg-color {
  background: linear-gradient(to bottom right, #632ee3, #9f62f2);
}